div{
    background-color: aqua;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    margin:5px auto 5px auto;  
}
section{
    display: grid;
    max-width: 500px;
    border: 1px solid black;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

h1{
    text-align:center;
}
